/** --------------------------------------------------------------
 *  Flash Controller
 * -------------------------------------------------------------- */
 .flash-wrap {
     .column(8);
     .push(2);
 }

.flash-wrap {
//max-width: 100%;
    /*
    display: block;

    margin-top: 0;
    max-height: 24px * 10px;
    //vertical-align: middle;
    marin: 0 auto;
    */
    img {
        width: 100%;
    }
}
