/** --------------------------------------------------------------
 *  Flash Controller
 * -------------------------------------------------------------- */

/*
.outer-wrap-flash {
    height: (24px * 8px);
}
*/
/*
.inner-wrap-flash {

}
*/

.flash-wrap {
    img {
        //Center the image

        //Make img responsive
        width: 100%;
        height: auto;
    }

}
