/** --------------------------------------------------------------
 *  Site FOOTER
 * -------------------------------------------------------------- */
@footer_backgroundColor: #0db2ec;
@footer_borderColor: #0129e1;
@footer_borderSize: 5px;


 .inner-wrap-footer {
     .row {
         background-color: @footer_backgroundColor;

         border-top: @footer_borderSize solid @footer_borderColor;

         margin-bottom: 0 !important;

     }
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
 }

 .outer-wrap-footer {
     .inner-wrap-footer,
     .inner-wrap {
         max-width: 100% !important;
     }
 }
