/**
* Anax Flat theme.
*/
@import url(modules.less);


 /** --------------------------------------------------------------
  *  Site HEADER
  */

.site-header {
    height: 71px;
    border-bottom: 5px solid #0129E1;
    background: #0DB2EC;
    margin-bottom: 20px;
}

 // Header flash img
 img {
     max-width: 100%;
}

 // Header small logo/text
.site-logo-text {
    font-size: 2em;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    width: 20%;

    a {
        text-decoration: none;
        color: white;
    }
}
