/**
* Anax Flat theme.
*/
@import url(modules.less);

 /** --------------------------------------------------------------
  *  Site HEADER
  */

@header_backgroundColor: #0db2ec;
@header_borderColor: #0129e1;
@header_borderSize: 5px;
@header_height: 91px;

@logo_textColor: white;

.site-header {
    height: @header_height;
    border-bottom: @header_borderSize solid @header_borderColor;
    background-color: @header_backgroundColor;
}

.site-logo-text {
    font-size: 2em;
    float: left;

    a {
        text-decoration: none;
        color: @logo_textColor;
    }
}
