/**
 * Grid layout and positioning of elements on page.
 */

@import "grid-helpers.less";
@magicNumber: 24px;
@maxWidth: 100%;

// Turn block backgrounds on/off by changing to true or false.
@gridBG: false;

.route-grid,
.hgrid
{
    .wrap-all {
        .showGrid(@maxWidth);
    }

    .inner-wrap-footer,
    .inner-wrap-header {
        .container();
        .row {
            background-color: transparent !important;
        }
        .site-header {
            background-color: transparent !important;
        }
        //.showGrid(100%);
        //background-color: transparent !important;
    }
    //.showGrid(@maxWidth);
}

.next {
    margin-top: @magicNumber;
    margin-bottom: @magicNumber;
    float: left;

}
.previous {
    margin-top: @magicNumber;
    margin-bottom: @magicNumber;
    float: right;
    text-align: right;
}

// Report page
.route-report,
.route-report-intro,
.route-report-kmom01,
.route-report-kmom02,
.route-report-kmom03,
.route-report-kmom04,
.route-report-kmom05,
.route-report-kmom06,
.route-analysis,
.route-analysis-intro,
.route-analysis-colorscheme,
.route-analysis-speed_and_usability,
.route-analysis-design-principles,
.route-analysis-usability,
.route-analysis-write {
    .sidebar-left {
        .column(2);
        .push(2);
    }
    .main {
        .column(6);
    }

    .next {
        float: left;
        width: 50%;
    }
    .previous {
        width: 50%;
        float: right;
        text-align: right;
    }
}
.route-blogg,
.route-blogg-mitt-forsta-blogginlagg,
.route-blogg-mitt-andra-blogginlagg,
.route-blogg-mitt-tredje-blogginlagg,
.route-blogg-mitt-fjarde-blogginlagg {
    .main {
        .column(6);
        .push(2);
    }
    .sidebar {
        .column(2);
    }
}

.route-cookies,
.route-license,
.route-contact,
.route-images,
.route-about,
.route-theme,
.route-typography,
.route-markdown,
.route-design-element,
.route-design-principer,
.route-theme-selector,
.route-test, {
    .main {
        .column(8);
        .push(2);
    }
}

// Index page

.route- {
    .main {
        .column(8);
        .push(2);
    }
}

.inner-wrap {
    .container();
    margin: 0 auto;
    max-width: @maxWidth;
}

.outer-wrap-header,
.outer-wrap-main,
.outer-wrap-breadcrumb, {
    margin-bottom: 24px;
}


.row {
    .row();
}

.main {
    .column(4);
    & when (@gridBG = true) {
        background-color: green;
        opacity: 0.5;
    }
}

.sidebar-left {
    .column(2);
    .push(2);
    overflow: none;
    border: none;
    & when (@gridBG = true) {
        background: red;
        opacity: 0.5;
    }
}

.sidebar-right {
    .column(2);
    overflow: none;
    border: none;
    & when (@gridBG = true) {
        background: orange;
        opacity: 0.5;
    }
}

.byline {
    margin-top: 0;
    border: none;
    .column(12);
}

.footer-column {
    .column(4);
    & when (@gridBG = true) {
        background-color: brown;
        opacity: 0.5;
    }
}

.footer-column-wrapper {
    .clearfix();
    text-align: center !important;
}

.site-footer {
    .column(12);
    & when (@gridBG = true) {
        background-color: yellow;
        opacity: 0.5;
    }
    margin-top: 12px;
    text-align: center !important;
}

.breadcrumb-wrap {
    .column(12);
    margin-top: -1px;
    //height: 48px !important;
    & when (@gridBG = true) {
        background-color: blue;
        opacity: 0.5;
    }

    li {
        display: inline;

        &::after {
            content: " » ";
        }
    }

}


.breadcrumb-wrap {
    .column(8);
    .push(2);
}

.site-logo-text {
    text-align: center;
    .column(2);

    & when (@gridBG = true) {
        background-color: pink;
        opacity: 0.5;
    }
}

.navbar2 {
    .column(8);

    & when (@gridBG = true) {
        background-color: violet;
        opacity: 0.5;
    }

    //text-align: left;
}
