/**
 * Media Querys for responsive design
 */


@media screen and (max-width: 890px) {

    .navbar2 {
        width: 70%;
    }

    .profile {
        width: 10%;
    }

    .site-logo-text {
        a {
            font-size:  0;
        }
    }
}

@media screen and (max-width: 635px) {
    .navbar2 {
        display: none;
    }

    .site-logo-text {
        width: 100%;
        a {
            font-size: 30px;
        }
    }
}

// For the footer responsivity
@media screen and (max-width: 700px) {
    .footer-column {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}

@media screen and (min-width: 636px) {
    .profile {
        display: none;
    }
}
