/**
 * Media Querys for responsive design
 */

// 1140 navbar breakdown

@media screen and (max-width: 1155px) {
    .navbar2 {
        display: none;
    }
    .site-logo-text {
        .column(8);
        text-align: left;
        padding-left: 20px;
    }
}


/*
 @hamburger: 530px;
 @navbar: 995px;

@media screen and (min-width: @hamburger) {
    .rm-button {
        display: none !important;
    }
}

@media screen and (max-width: @navbar) {
    .navbar2 {
        //.column(12);
        display: none !important;
    }

    .site-logo-text {
        display: none;
    }
}


@media screen and (max-width: 780px) {
    .sidebar-left {
        .column(12);
        margin-bottom: 24px;
    }
    .sidebar-right {
        .column(12);
    }

    .main {
        .column(12);
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 530px) {
    .sidebar-left {
        .column(12);
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 530px) {

.wrap-all {
    margin-bottom: 826px!important;
}

    .navbar2 {
        display: none;
    }

    .sidebar-right {
        display: none;
    }

    .footer-column {
        .column(12);
        margin-bottom: 24px;
    }

    .site-logo-text {
        .column(12);
    }

    .site-footer {
        margin-top: -24px;
    }

    .main {
        .column(12);
        margin-bottom: 0;
        display: inline;
    }

    .wrap-all {
        margin-bottom: 826px !important;
    }

}
*/
